body {
    background-image: url(/assets/61lqRxbsC5L._AC_UF894\,1000_QL80_.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: 100px;
    background-color: black;
    object-fit: cover;
    object-position: bottom right;
    background-attachment: fixed;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-repeat: repeat;
}

.fugaz-one-regular {
  font-family: "Fugaz One", sans-serif !important;
  font-weight: 500;
  font-style: bold;
}

.EnterBtn {
    background-color: #386ABB;
    border-radius: 15px;
    color: #FFCC03;
}

input, button {
    border-radius: 15px;
}
input {
    width: 75%;
}
.pokemonFont {
color: #386ABB;
  -webkit-text-size-adjust: 90%;
  text-size-adjust: 90%; 
  -webkit-text-fill-color: #FFCC03;
  -webkit-text-stroke: 2px;
    text-align: center;
    scale: calc(200%);
}

.mainDisplay {
    width: 80%;
    background-color: #386ABBaa;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, min-content);
    gap: 15px;
    border-radius: 15px;
    padding: 15px;
    justify-content: center;

}

.innerDisplay {
    background-color: #ffffffaa;
    border-radius: 15px;

}

.evolutionBox {
overflow-x: scroll;
}

.EvoImage {
    width: 200px;
    height: 200px;
}

.grid1{
    grid-column: 1;
    grid-row: 1/3;
}


.grid2 {
grid-column: 2/4;
grid-row: 1;
height: 250px;
overflow-y: scroll;
}

.grid3 {
grid-column: 2/4;
grid-row: 2;
}

.grid4 {
grid-column: 1;
grid-row: 3;
}

.grid5 {
grid-column: 2/4;
grid-row: 0.5;
}

.grid6 {
grid-column: 1/4;
grid-row: 4;
}

@media (max-width: 768px) {

.pokemonFont {
    scale: calc(100%);
}
.mainDisplay {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
}

.grid1{
    grid-column: 1/3;
    grid-row: 1;
}

.grid2 {
grid-column: 1;
grid-row: 3;
overflow-y: scroll;
}

.grid3 {
grid-column: 2;
grid-row: 3;
overflow-y: scroll;
height: 250px;

}

.grid4 {
grid-column: 1/3;
grid-row: 2;
}

.grid5 {
grid-column: 1/3;
grid-row: 4;
overflow-x: scroll;
}

.grid6 {
grid-column: 1/4;
grid-row: 5;
}
}